<div class="modal fade" id="storeSelectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Выберите магазин</h5>
        </div>
        <div class="modal-body">
          <form id="storeSelectForm">
            <select class="form-select" name="store" required>
              {% for store in stores %}
                <option value="{{ store.id }}">{{ store.name }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" form="storeSelectForm">Перейти</button>
        </div>
      </div>
    </div>
  </div>
  