{% extends 'admin_panel/base_admin.html' %}
{% load static %}
{% block content %}
<h2 class="mb-4">Управление каталогом</h2>

<ul class="nav nav-tabs mb-3" id="catalogTabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#products-tab">Товары</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#categories-tab">Категории</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#manufacturers-tab">Производители</a>
  </li>
</ul>

<div class="tab-content">
  <!-- Таб: Товары -->
  <div class="tab-pane fade show active" id="products-tab">
    <div class="d-flex justify-content-between mb-3">
      <input type="text" id="productSearch" class="form-control w-50" placeholder="Поиск товаров...">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">Добавить товар</button>
    </div>
    <div id="productTableContainer"></div>
  </div>

  <!-- Таб: Категории -->
  <div class="tab-pane fade" id="categories-tab">
    <div class="d-flex justify-content-between mb-3">
      <input type="text" id="categorySearch" class="form-control w-50" placeholder="Поиск категорий...">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">Добавить категорию</button>
    </div>
    <div id="categoryTableContainer"></div>
  </div>

  <!-- Таб: Производители -->
  <div class="tab-pane fade" id="manufacturers-tab">
    <div class="d-flex justify-content-between mb-3">
      <input type="text" id="manufacturerSearch" class="form-control w-50" placeholder="Поиск производителей...">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#manufacturerModal">Добавить производителя</button>
    </div>
    <div id="manufacturerTableContainer"></div>
  </div>
</div>

{% include 'admin_panel/includes/product_modal.html' %}
{% include 'admin_panel/includes/category_modal.html' %}
{% include 'admin_panel/includes/manufacturer_modal.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'admin_panel/js/catalog_management.js' %}"></script>
{% endblock %}