{% extends "base.html" %}

{% block content %}
{% load custom_filters %}
{% load static %}
<script src="{% static 'catalog/js/load_more.js' %}"></script>
  <link rel="stylesheet" href="{% static 'catalog/css/sidebar.css' %}">

<div class="container mt-4">
  <div class="d-flex flex-wrap flex-lg-nowrap gap-4 justify-content-center">

    <!-- Колонка с товарами -->
    <div id="productGrid" class="limited-grid">
      {% for product in products %}
        <div class="product-card fade-in">
          <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top"
                 onerror="this.src='/media/no-photo.png'" alt="Фото">
            <div class="card-body">
              <h6 class="card-title">{{ product.name }}</h6>
              <p class="card-text">
                от <strong>{{ product.min_price|clean_number  }} ₸</strong><br>
                <small class="text-muted">в {{ product.store_name }}</small>
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <button class="btn btn-sm btn-outline-primary open-product-modal" 
              data-url="{% url 'product_detail_ajax' product.id %}" data-product-id="{{ product.id }}"> Подробнее </button>
              <button class="btn btn-sm btn-outline-warning favorite-btn"
                      data-product-id="{{ product.id }}"
                      data-is-favorite="{% if product.id in favorite_ids %}true{% else %}false{% endif %}"
                      title="Добавить в избранное">
                <span class="favorite-icon">{% if product.id in favorite_ids %}★{% else %}☆{% endif %}</span>
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

<!-- Правая колонка -->
<div class="right-sidebar">
  <h5>Фильтры</h5>
  <form id="productFilters">
    <div class="mb-3">
      <label for="categorySelect" class="form-label">Категория</label>
      <select class="form-select" id="categorySelect" name="category">
        <option value="">Все категории</option>
        {% for cat in categories %}
          <option value="{{ cat.id }}">{{ cat.name }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
</div>

  </div>

  <div class="text-center mt-4">
    <button id="loadMoreBtn" class="btn btn-outline-primary" data-offset="9">Показать ещё</button>
  </div>
</div>
  </div>
</div>


{% endblock %}
