{% extends "base.html" %}

{% block content %}
<h2>{{ product.name }}</h2>
<p>{{ product.description }}</p>

<h4>Цены в магазинах:</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Магазин</th>
      <th>Цена</th>
      <th>Обновлено</th>
    </tr>
  </thead>
  <tbody>
    {% for price in prices %}
      <tr>
        <td>{{ price.store.name }}</td>
        <td>{{ price.price }} ₸</td>
        <td>{{ price.updated_at }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/">← Назад</a>
{% endblock %}
